:root {
    /* 基准字体 */
    --ui-font: "Source Han Sans CN";
    --base-English-font: "Times New Roman";
    --base-Chinese-font: "Source Han Serif CN";
    --base-font-size: 9.5pt;
    --base-heading-font: "Source Han Sans CN"; /* 总标题字体 */
    --base-chapter-Chinese-font: "Source Han Sans CN"; /* 小标题字体 */
    --base-line-height: 20pt; /* 基础行距 */
    --strong-weight: 900; /* 粗体样式设置, 加粗风格时使用的字重；400等同于 normal，700等同于 bold，900等同于 heavy */

    /* 正文设置 */
    --main-text-font: var(--base-English-font, --base-Chinese-font);
    --main-text-font-size: 12pt; /* 字号 */
    --main-text-margin-top: 1rem; /* 段前距 */
    --main-text-margin-bottom: 1rem; /* 段后距 */
    --main-text-line-height: var(--base-line-height); /* 行距 */

    /* 引言设置 */
    --quote-font: var(--main-text-font);
    --quote-font-size: 10pt; /* 字号, 这里字体用了10pt,比正文字体稍大 */
    --quote-margin: 1rem 20pt 1rem 36px;
    --quote-text-line-height: var(--base-line-height); /* 行距 */

    /* 代码设置 */
    --code-font: "Cascadia Mono";
    --code-font-line-height: 16pt;

    /* 目录 */
    /* 目录的各项之间没有段前段后距, 即margin */
    --toc-font: var(--main-text-font);
    --toc-h2-font-size: 1rem; /* 一级标题字号 */
    --toc-h2-line-height: var(--base-line-height); /* 一级标题行距 */
    --toc-font-size: var(--base-font-size); /* 小标题字号 */
    --toc-line-height: var(--base-line-height); /* 小标题行距 */

    /* 图表的说明文字 */
    --caption-font: var(--main-text-font);
    --caption-font-size: var(--main-text-font-size);

    /* 表格设置(三线表) */
    --table-title-font: var(--main-text-font); /* 三线表首行字体 */
    --table-title-font-size: 10.5pt;
    --table-font: var(--main-text-font); /* 其他行字体 */
    --table-margin-top: 0px;
    --table-margin-bottom: 1rem;

    /* 标题设置 */
    --title-margin-right: 1rem; /* 编号右边的空白大小 */
    --title-font-weight: var(--strong-weight); /* 标题字重 */
    /* 大标题, 即文章总标题 */
    --title-font: var(--base-heading-font);
    --title-font-size: 22pt;
    --title-font-weight: var(--strong-weight);
    --title-margin-top: 1rem;
    --title-margin-bottom: 1rem;
    /* h2, 一级标题 */
    --h2-font: var(--base-heading-font);
    --h2-font-size: 18pt;
    --h2-margin-top: 1rem;
    --h2-margin-bottom: 1rem;
    /* h3, 二级标题 */
    --h3-font: var(--base-heading-font);
    --h3-font-size: 15pt;
    --h3-margin-top: 1rem;
    --h3-margin-bottom: 1rem;
    /* h4, 三级标题 */
    --h4-font: var(--base-heading-font);
    --h4-font-size: 14pt;
    /* h5, 四级标题 */
    --h5-font: var(--base-heading-font);
    --h5-font-size: 10pt;
    /* h6, 五级标题 */
    --h6-font: var(--base-heading-font);
    --h6-font-size: 9.5pt;

    /* 引用样式设置 */
    --references-font: var(--main-text-font);
    --references-font-size: var(--main-text-font-size);
    --references-margin-top: 1rem;
    --references-margin-bottom: 0px;

    /* == 页面设置 == */
    --screen-margin: 2cm 2cm 2cm 2cm !important; /* typora中展示的页边距 */
    --print-margin: 2cm 2cm 2cm 2cm !important; /* 打印的页边距 */
    /* == 控制设置 == */
    --toc-show-title: none; /* 目录中是否显示一级标题 */
    /* == 颜色设置 == */
    /* 超链接颜色 */
    --link-color-light: #2e67d3;
    --link-color-dark: #8bb1f9;
    /* source mode 设置 */
    --sourceMode-font: var(--code-font), var(--main-text-font);
}
