#cover {
    page-break-after: always;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0 auto;
    .essay-name {
        text-align: center !important;
        font-family: "黑体";
        font-size: 22pt;
        font-weight: $strong-weight;
        margin: 6cm auto;
        margin-bottom: 0cm;
    }
    #school-name {
        content: url("http://www.cumt.edu.cn/_upload/article/images/d1/18/82bf4c134df495badbc6d68d9fe8/5ca74b21-ad47-4b9c-91d0-ef2b3c24e0da.jpg");
    }
    // #school-name {
    //     position: relative;
    //     top: 5cm;
    // }
    // #school-icon {
    // }
    // #school-icon {
    //     width: 5cm;
    //     height: 5cm;
    //     display: block;
    //     margin: 0 auto;
    // }
}
#essay-info {
    position: relative;
    top: 6.5cm;
    width: 10cm;
    margin: 0 auto;
    div {
        width: 100%;
        display: flex;
        align-items: center;
        span:first-child {
            text-align: right;
            font-weight: $strong-weight;
        }
        span:nth-child(2) {
            flex: 10;
            text-align: center;
            border-bottom: 1.2pt solid;
        }
    }
}
