// 参考文献块
.footnotes-area {
    .footnote-line {
        // 把参考资料块的文字大小和文字颜色与正文统一
        color: var(--text-color);
        font-size: var(--references-font-size);
        font-family: var(--references-font);
    }

    // 默认情况下，Typora 会给参考文献块顶部加一条横线，这里把它隐藏掉
    hr {
        border: 0;
        color: #00000000;
    }
}
// // 引用参考文献
// .md-footnote {
//     // 这里的样式加载在typora后
//     background-color: white !important;
//     padding: 0px !important;
//     margin: 0px !important;
//     .md-text {
//         // padding-left: 1ch;
//         // padding-right: 1ch;
//         &::before {
//             content: "[";
//         }
//         &::after {
//             content: "]";
//         }
//     }
// }

// // 参考文献块
// .footnotes {
//     color: black;
//     font-family: var(--references-font);
//     font-size: var(--references-font-size);
//     margin-top: var(--references-margin-top);
//     margin-bottom: var(--references-margin-bottom);
//     // 取消跳转箭头
//     // .md-reverse-footnote-area {
//     //     display: none;
//     // }
//     .md-def-name {
//         padding-left: 1ch;
//         padding-right: 1ch;
//         font-weight: normal;
//         &::after {
//             content: "]";
//         }
//         &::before {
//             content: "[";
//         }
//     }
// }
