#write {
    .md-table-fig {
        margin-top: var(--table-margin-top);
        margin-bottom: var(--table-margin-bottom);
        margin-left: auto;
        margin-right: auto;
    }
    // 三线表
    table {
        /* 三线表第一条线宽度 */
        border-top: 1.2pt solid;
        /* 三线表第二条线宽度 */
        border-bottom: 1.2pt solid;
        font-family: var(--table-font);
        font-size: var(--table-title-font-size);
        text-align: center;
        page-break-inside: avoid;
        border-spacing: 6px;
        /* 自动布局表格宽度，如果有时内容太紧建议直接加空格吧，我自己看不惯和页面等宽的大表格 */
        width: auto;
        /* 使表格默认居中；虽然这个代码不好，但好像没别的实现办法 */
        margin: 0 auto;

        td {
            padding: 2px;
        }

        tr {
            padding: 2px;
        }
    }

    th {
        padding: 0px 6px;
    }

    thead {
        /* 表格标题（首行）样式 */
        /* 三线表表头的线 */
        border-bottom: 0.5pt solid;
        font-family: var(--table-title-font);
        font-weight: var(--strong-weight);
    }
}

// 图表说明文字
center strong {
    font-family: var(--caption-font);
    font-size: var(--caption-font-size);
}
