/* 侧边大纲标题 */
.sidebar-content {
    .outline-h1 {
        counter-reset: outline-h2;
    }
    .outline-h2 {
        counter-reset: outline-h3;
        .outline-label:before {
            counter-increment: outline-h2;
            content: counter(outline-h2) " ";
        }
    }
    .outline-h3 {
        counter-reset: outline-h4;
        .outline-label:before {
            counter-increment: outline-h3;
            content: counter(outline-h2) "." counter(outline-h3) "  ";
        }
    }
    .outline-h4 {
        counter-reset: outline-h5;
        .outline-label:before {
            counter-increment: outline-h4;
            content: counter(outline-h2) "." counter(outline-h3) "."
                counter(outline-h4) "  ";
        }
    }
    .outline-h5 {
        counter-reset: outline-h6;
        .outline-label:before {
            counter-increment: outline-h5;
            content: counter(outline-h2) "." counter(outline-h3) "."
                counter(outline-h4) "." counter(outline-h5) "  ";
        }
    }
}

.sidebar-content {
    /* 侧边栏的字体修改 */
    font-family: $ui-font;
    list-style: none;
    @if $theme == "dark" {
        /* 黑色模式修改 */
        background-color: #282828;
        color: #e9e9e9;
    }
}
