$theme: "dark";
$tool: "typora";
@import "./style/setting";
@import "./style/dark.scss";
@import "./style/main-text.scss";
@import "./style/blockquote.scss";
@import "./style/code.scss";
@import "./style/list.scss";
@import "./style/main-text.scss";
@import "./style/references.scss";
@import "./style/table-of-contents.scss";
@import "./style/typora.scss";
@import "./style/table.scss";
@import "./style/html.scss";
@import "./style/title.scss";
@import "./style/template/cover.scss";
