/* 无序列表 */
ul {
  list-style: disc;
  ul {
    /*list-style: circle;*/
    /* 请勿删除“–”后的空格, 他们对缩进有一定影响, 下同 */
    //FIXME 如果您可以改成没有空格，而仅用缩进控制的样式会更好
    list-style: "–   ";
    ul {
      list-style: "◦  ";
    }
  }
}

/* 有序列表 */
ol {
  list-style: decimal;
  ol {
    counter-reset: liist;
    list-style: none;
    li {
      counter-increment: liist;
      position: relative;
    }
    li::before {
      content: "(" counter(liist, lower-alpha) ")";
      position: absolute;
      left: -1.8em;
    }

    ol {
      counter-reset: liiist;
      list-style: none;
      margin: 0;
      li {
        counter-increment: liiist;
        position: relative;
      }
      li::before {
        content: counter(liiist, lower-roman) ".";
        align-self: flex-end;
        position: absolute;
        left: -4.5em;
        /* -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;*/
        /* 为了让项目编号是重新用句点对齐而不是左对齐 */
        width: 4em;
        text-align: right;
      }
    }
  }
}

li {
  position: relative;
}
ol, ul {
  padding-inline-start: 2em;
}

/* task列表 */
.md-task-list-item>input{
  margin-top: 0.42em;
  margin-left: -1.5em;
  width: 1em !important;
  height: 1em !important;
}