name: Dev Build

on:
  push:
    branches:
      - dev**
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          sudo apt install ruby sass -y
      - name: Compile
        run: |
          cd ./src; make
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: |
            ./src/latex-theme/*
