name: CI

on:
    push:
        branches:
            - cumt

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "build"
    build:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v3

            - name: Make destination directory for compiled CSS
              run: mkdir -vp /tmp/css

            - name: Compile CSS from SCSS files
              uses: gha-utilities/sass-build@v0.4.9
              with:
                  source: |
                      ./src/main.scss
                      ./src/dark.scss
                  destination: |
                      /tmp/css/latex.css
                      /tmp/css/latex-dark.css

            - name: Make template doc
              run: |
                  awk 'n==1{print} $0~/<!-- awkflag.* -->/{n=1}' ./src/template/cover.html > \
                  把这段代码放到偏好设置--导出--pdf--插入额外内容的方框中.txt

            - name: Packaging
              run: |
                  zip -j Latex-for-typora.zip /tmp/css/*.css
                  zip -j Latex-for-typora.zip ./utils/*
                  zip -r Latex-for-typora.zip ./examples/*.md ./examples/*.pdf ./LICENSE
                  zip Latex-for-typora.zip 把这段代码放到偏好设置--导出--pdf--插入额外内容的方框中.txt

            - name: Release
              uses: marvinpinto/action-automatic-releases@latest
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  automatic_release_tag: "latest"
                  prerelease: false
                  files: |
                      ./Latex-for-typora.zip
